In [173]:
library(zoo)
library(dplyr)
library("scales")
library(glmnet)

In [174]:
#read csv data
df_train_features <- read.csv(file="dengue_features_train.csv")

df_train_labels <- read.csv(file="dengue_labels_train.csv")

df_test_features <- read.csv(file="dengue_features_test.csv")

In [175]:
#drop week_start_date colum

df_train_features$week_start_date <- NULL
df_train_labels$week_start_date <- NULL

#change Kelvin Columns to Celcius
df_train_features$reanalysis_min_air_temp_k <- (df_train_features$reanalysis_min_air_temp_k - 273.15)

df_train_features$reanalysis_max_air_temp_k <- (df_train_features$reanalysis_max_air_temp_k - 273.15)

df_train_features$reanalysis_dew_point_temp_k <- (df_train_features$reanalysis_dew_point_temp_k - 273.15)

df_train_features$reanalysis_air_temp_k <- (df_train_features$reanalysis_air_temp_k - 273.15)

#split the data by city

df_train_features_sj <- subset(df_train_features, subset=city=='sj')
df_train_features_iq <- subset(df_train_features, subset=city=='iq')

df_train_labels_sj <- subset(df_train_labels, subset=city=='sj')
df_train_labels_iq <- subset(df_train_labels, subset=city=='iq')

#drop city column

df_train_features_sj <- dplyr::select(df_train_features_sj, -city)
df_train_features_iq <- dplyr::select(df_train_features_iq, -city)

#fill null values with the mean value of the column
df_train_features_sj = na.aggregate(df_train_features_sj)
df_train_features_iq = na.aggregate(df_train_features_iq)

#drop the correlating features for the San Juan training data
df_train_features_sj <- dplyr::select(df_train_features_sj, -reanalysis_avg_temp_k)
df_train_features_sj <- dplyr::select(df_train_features_sj, -reanalysis_sat_precip_amt_mm)
df_train_features_sj <- dplyr::select(df_train_features_sj, -reanalysis_specific_humidity_g_per_kg)

In [176]:
#scale data in range from 0 to 1
df_train_features_sj <- apply(df_train_features_sj, MARGIN = 2, FUN = function(X) (X - min(X))/diff(range(X)))
df_train_features_iq <- apply(df_train_features_iq, MARGIN = 2, FUN = function(X) (X - min(X))/diff(range(X)))

    city year weekofyear total_cases
1   sj   1990 18          4
2   sj   1990 19          5
3   sj   1990 20          4
4   sj   1990 21          3
5   sj   1990 22          6
6   sj   1990 23          2
7   sj   1990 24          4
8   sj   1990 25          5
9   sj   1990 26         10
10  sj   1990 27          6
11  sj   1990 28          8
12  sj   1990 29          2
13  sj   1990 30          6
14  sj   1990 31         17
15  sj   1990 32         23
16  sj   1990 33         13
17  sj   1990 34         21
18  sj   1990 35         28
19  sj   1990 36         24
20  sj   1990 37         20
21  sj   1990 38         40
22  sj   1990 39         27
23  sj   1990 40         42
24  sj   1990 41         33
25  sj   1990 42         43
26  sj   1990 43         37
27  sj   1990 44         57
28  sj   1990 45         71
29  sj   1990 46         44
30  sj   1990 47         56
... ...  ...  ...        ...
907 sj   2007 40         170
908 sj   2007 41         135
909 sj   2007 42         106
910 sj   2007 43          68
911 sj   2007 44          48
912 sj   2007 45          48
913 sj   2007 46          26
914 sj   2007 47          33
915 sj   2007 48          29
916 sj   2007 49          17
917 sj   2007 50          12
918 sj   2007 51          13
919 sj   2007 52          17
920 sj   2008  1          15
921 sj   2008  2          14
922 sj   2008  3          15
923 sj   2008  4          10
924 sj   2008  5           9
925 sj   2008  6           2
926 sj   2008  7           6
927 sj   2008  8           8
928 sj   2008  9           5
929 sj   2008 10           1
930 sj   2008 11           2
931 sj   2008 12           3
932 sj   2008 13           4
933 sj   2008 14           3
934 sj   2008 15           1
935 sj   2008 16           3
936 sj   2008 17           5

In [177]:
x <- as.matrix(df_train_features_sj)
y <- as.double(as.matrix(df_train_labels_sj[, 4]))

In [178]:
#Ridge regression

set.seed(1)
cv.out = cv.glmnet(x, y, alpha = 0, type.measure = "mae") # Fit ridge regression model on training data
bestlam = cv.out$lambda.min  # Select lamda that minimizes training MSE
bestlam

ridge_pred = predict(ridge_mod, s = bestlam, newx = x)

[1] 34.8655

In [182]:
score   <-  mae(df_train_labels_sj$total_cases - ridge_pred)

In [180]:
# function that returns Mean Absolute Error
mae <- function(error) return(mean(abs(error)) )

get_bst_model <- function(train, test)
{ 
  # Step 2: Find the best hyper parameter, alpha
  for (i in grid)
    {
      model = glm.nb(formula = form,
                     data = train,
                     init.theta = i)
    
      results <-  predict(model, test)
      score   <-  mae(test$total_cases - results)
      
      if (score < best_score) {
          best_alpha <- i
          best_score <- score
          cat('\nbest score = ', best_score, '\twith alpha = ', best_alpha)
        }
  }
  
  # Step 3: refit on entire dataset
  combined <- rbind(train, test)
  combined_model = glm.nb(formula=form,
                          data = combined,
                          init.theta = best_alpha)
  
  return (combined_model)
}